a {
  color:#8F0000;
  font-size: 20px;
}

#not {
  color:#000000;
}

.mess{
  transition: 5s all;
  background-color:#000000;
  color:#FF0000;
  border: 4px solid #4E006C;
  margin: 5px;
  padding: 15px;
  border-radius: 40px;
  box-shadow: 10px 5px 40px #000000;
  text-align: center;
  transform: rotate(1deg);
}

.mess:hover {
  transition: 5s all;
  border: 30px solid #FFFFFF;
  color: #8400B5;
  transform: rotate(1deg);
}
body {
  background-image: url()
}

#test {
  transition: 5s all;
  
  background-color: #7D00AC;
  color: #FFFFFF;
  padding: 15px;
  margin: 15px;
  border: 7px solid #2C003C;
  border-radius: 30px;
  text-align: center;
  font-weight: 900;
  transform: rotate(-1deg);
}

#test:hover {
  transform: rotate(-5deg);
  color: #7A7A7A;
}
